<!-- FILTER BAR -->
<div id="date" class="container-fluid">
  <form id="selectMeetGreet">
    <h3 id="chooseSessionSelector">Select Meet & Greet Session:</h3>
    <select class="selectNavDropDown" id="selectedMeetGreet" name="selectedSession">
      <option selected disabled>--SELECT--</option>
      <% @events.each do |course| %>
      <option value="<%=course.id%>"><%=course.name%></option>
      <%end%>
    </select>
    <button id="submitBtnSession" class="btn pinkColour" type="submit">Submit</button>
  </form>
</div>

<!-- COURSE INFORMATION -->
<div class="container" id="infoOnClasses">
  <h3 id="browseHeader">Web Development Immersive Graduating Batch</h3>
  <img id="classPicture" src="/images/classpic.jpg"/>
</div>

<div class="container-fluid" id="forAjax">
  <!-- SESSION DETAILS -->
  <div class="col-sm-6 offset-md-1 col-md-3" id="sessionDetails">
  </div>
  <!-- LIST OF STUDENTS -->
  <div class="col-sm-6 col-md-7">
    <div class="container" id="studentDetails">
    </div>
  </div>
</div>

<%= render "partials/footer" %>
