<div id="date" class="container selectSessionDiv">
  <form id="selectMeetGreet">
    Select Meet & Greet:
    <select class="selectNavDropDown" id="selectedMeetGreet" name="selectedSession">
        <option disabled>--SELECT--</option>
      <% @events.each do |course| %>
        <option value="<%=course.id%>"><%=course.name%></option>
      <%end%>
    </select>
    <button id="submitBtnSession" class="btn pinkColour" type="submit">Submit</button>
  </form>
</div>
<div class="container" id="requestSelect">Select an Event Session!</div>
<div class="container">
  <!-- SESSION DETAILS -->
  <div class="col-md-3 tempPinkBorder" id="sessionDetails">
    <!-- <div class="container meetGreetDetails" id="sessionDetails">
    </div> -->
  </div>
  <!-- LIST OF STUDENTS -->
  <div class="offset-md-1 col-md-8 tempPinkBorder">
    <div class="container" id="studentDetails">
    </div>
  </div>
</div>

<!-- <div id="date" class="dropdown open">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
    Meet and Greet Dates
  </button> -->
  <!-- to run loop here that populates the dropwdown with all the meet and greet dates -->
  <!-- data-value to be the id of the meet and greet. will need the value for ajax request -->
  <!-- href to be changed to the url of ajax request -->
  <!-- <div class="dropdown-menu">
    <a class="dropdown-item" href="#" data-value="1">7 October 2016</a>
    <a class="dropdown-item" href="#" data-value="2">18 November 2016</a>
  </div>
</div> -->
<!--
<div id="box" class="container">
  <div id="left">
    MEET AND GREET DETAILS
  </div>
  <div id="right">
    LIST OF PROFILES INFORMATION HERE
    <div class="card">
      personal profile here

      <h2 class="card-profile-name">
        Denise Lim
      </h2>

      <div class="card-profile-title">
        Full-stack Web Development
      </div>

      <div class="card-profile-experience">
        <div class="card-profile-experience-previous-job">
          Tax Consultant
        </div>
        <div class="card-profile-experience-previous-school">
          Singapore Management University
        </div>
      </div>

      <ul class="card-profile-skills">
        <li class="card-profile-skill-tag">JS</li>
        <li class="card-profile-skill-tag">Ruby on Rails</li>
        <li class="card-profile-skill-tag">Node-js</li>
        <li class="card-profile-skill-tag">Angular</li>
        <li class="card-profile-skill-tag">React</li>
      </ul>




    </div>
  </div>
</div> -->
