<!-- FILTER BAR -->
<div id="date" class="container">
  <form id="selectMeetGreet">
    <h3>Select Meet & Greet Session:</h3>
    <select class="selectNavDropDown" id="selectedMeetGreet" name="selectedSession">
      <option selected disabled>--SELECT--</option>
      <% @events.each do |course| %>
      <option value="<%=course.id%>"><%=course.name%></option>
      <%end%>
    </select>
    <button id="submitBtnSession" class="btn pinkColour" type="submit">Submit</button>
  </form>
</div>

<div class="container" id="requestSelect"><h2>Our courses!</h2></div>
<!-- COURSE INFORMATION -->
<div class="container" id="infoOnClasses">
  <div class="card-deck-wrapper" id="classesInfo">
    <div class="card-deck">
      <div class="card cardShadow">
        <a class="courseLinks" href="https://generalassemb.ly/education/web-development-immersive/singapore">
          <img class="card-img-top cardImage" src="/assets/public/WDI.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Web Development</h4>
            <p class="card-text">Learn the skills to become an entry level Full Stack Web Developer! 12 weeks, all day, EVERYDAY!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </a>
      </div>
      <div class="card cardShadow">
        <a class="courseLinks" href="https://generalassemb.ly/education/user-experience-design-immersive/singapore">
          <div class="card-block">
            <h4 class="card-title">UX</h4>
            <p class="card-text">Learn the skills of a UX designer and put them to work while building a comprehensive portfolio. 10 weeks, all day, Monday through Friday!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <img class="card-img-bottom cardImage" src="/assets/public/ux.jpg" alt="Card image cap">
        </a>
      </div>
      <div class="card cardShadow">
        <a class="courseLinks" href="https://generalassemb.ly/education/ios-development-immersive/singapore">
          <img class="card-img-top cardImage" src="/assets/public/ios.png" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">iOS Development</h4>
            <p class="card-text">Train in the coding, design, and iteration skills essential to build your own iOS app!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </a>
      </div>
      <div class="card cardShadow">
        <a class="courseLinks" href="https://generalassemb.ly/education/android-development-immersive/singapore">
          <div class="card-block">
            <h4 class="card-title">Android Development</h4>
            <p class="card-text">Train in the coding, design, and iteration skills essential to build your own Android app!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          <img class="card-img-bottom cardImage" src="/assets/public/android.jpg" alt="Card image cap">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- SESSION DETAILS -->
  <div class="col-md-3" id="sessionDetails">
  </div>
  <!-- LIST OF STUDENTS -->
  <div class="offset-md-1 col-md-8">
    <div class="container" id="studentDetails">
    </div>
  </div>
</div>

<!-- <%= render "partials/footer" %> -->
