<div id="date" class="container">
  <form id="selectMeetGreet">
    Select Meet & Greet:
    <select class="selectNavDropDown" id="selectedMeetGreet" name="selectedSession">
        <option selected disabled>--SELECT--</option>
      <% @events.each do |course| %>
        <option value="<%=course.id%>"><%=course.name%></option>
      <%end%>
    </select>
    <button id="submitBtnSession" class="btn pinkColour" type="submit">Submit</button>
  </form>
</div>
<div class="container" id="requestSelect">Select an Event Session!</div>
<div class="container">
  <!-- SESSION DETAILS -->
  <div class="col-md-3" id="sessionDetails">
    <!-- <div class="container meetGreetDetails" id="sessionDetails">
    </div> -->
  </div>
  <!-- LIST OF STUDENTS -->
  <div class="offset-md-1 col-md-8">
    <div class="container" id="studentDetails">
    </div>
  </div>
</div>

<%= render "partials/footer" %>
