

<div class="banner">
  <img id="bannerImage" src="/assets/public/bannerbackground.png" />
  Find Your Next Great
  <br>
  <div id="typed-strings" class="container-fluid">
    <br>
    <p>Web Developer..</p>
    <p>UX Designer..</p>
    <p>Android Developer..</p>
  </div>
  <span id="typed"></span>
</div>

<div id="browse" class="container-fluid">
  <div class="col-md-4">
    <img id="progLang" src="/assets/public/proglanguages.png" />
  </div>
  <div class="col-md-7" id="mgDetails">
    <h1 class="mdSpecifics">MEET & GREET!</h1>
    <h3 class="mdSpecifics">-date of event-</h3>
    <a id="browse-button" class="btn btn-primary btn-lg" href="/browse" role="button">Browse Candidates!</a>
  </div>
</div>

<%= render "partials/footer" %>

<script type="text/javascript">
  $(function(){
      $("#typed").typed({
          stringsElement: $('#typed-strings'),
          // strings: ["Web Developer.", "UX Designer.", "Bao Ka Liao Cheap Labour."],
          typeSpeed: 40,
          loop: true,
          loopCount: false,
          backSpeed: 10,
          backDelay: 700,
      });
  });
</script>
