
<div id="banner" class="container-fluid">js typed position here</div>

<!-- <button type="button" class="btn btn-primary btn-lg">Large button</button> -->

<div id="browse">
  <a id="browse-button" class="btn btn-primary btn-lg" href="/browse" role="button">Browse Candidates!</a>
</div>

<%= render "partials/footer" %>
