<h1>MAIN#INDEX</h1>
<div id="banner" class="container-fluid">js typed position here</div>

<!-- <button type="button" class="btn btn-primary btn-lg">Large button</button> -->

<div id="browse">
  <a id="browse-button" class="btn btn-primary btn-lg" href="/profile" role="button">Browse Candidates!</a>
</div>


<nav id="footer" class="navbar navbar-fixed-bottom">
  <div class="container text-xs-center">
    <ul class="nav nav-inline">
      <li class="nav-item">
        Active © 2016 General Assembly. All Rights Reserved.
      </li>
      <li class="nav-item">
        <a href="https://generalassemb.ly/regulatory-information">Regulatory Information</a>
      </li>
      <li class="nav-item">
        Link
      </li>
    </ul>
  </div>
</nav>
