<div class="container" id="giphyInstructions">
  <h3>Instructions on how to create a Giphy</h3>

  <ol>
    <li>Open up QuickTime Player</li>
    <li>Right click the QuickTime Player Icon and select "New Screen Recording"</li>
    <li>Follow the instructions given (you should be able to select/crop the area in which you wish to record)</li>
    <li>Save the file</li>
    <li>Go to <a href="http://giphy.com" target="_blank"><b>GIPHY.COM</b></a></li>
    <li>Cick on CREATE (top right hand corner)</li>
    <li>Drag & drop the video recorded and make the necessary edits</li>
    <li>Create the Giphy</li>
    <li>Once you're done, you should be able to retrieve an iframe embed link</li>
    <li>You will only need this portion <b>src="//giphy.com/embed/MOrXDsbjQgfQc"</b> which is in the iframe tag </li>
    <li>Paste whatever is within the double quotes (i.e. <i>//giphy.com/embed/MOrXDsbjQgfQc</i> for the above example)into the input field for each project</li>
  </ol>
  <br>
  <br>
  <h5>Oh and apologies for the lack of CSS for this page =X</h5>


</div>
