
    <div id="cover_photo">
      <img id="photo" src="http://coverjunction.s3.amazonaws.com/2012/234/fcb310b9-e47a-4ede-a6b2-578c7fcbf055.jpg" />
    </div>

    <div id="quote">

      <div> Creative developer with a passion for coding, always looking to learn more and continue to evolve in the web development field. A socially adept team player able to communicate and adapt effectively within a breadth of workplace cultures.</div>
    </div>

    <div id="wrapper">

      <div id="contact">

      </div>

      <div class="container">
        <div class="carousel">
          <div class="item a">
            <div class="pane-title">Video Intro</div>
          </div>
          <div class="item b">
            <div class="pane-title">Profile</div>

          </div>
          <div class="item c">
            <div class="pane-title">Project 1</div>

          </div>
          <div class="item d">
            <div class="pane-title">Project 2</div>

          </div>
          <div class="item e">
            <div class="pane-title">Project 3</div>

          </div>
          <div class="item f">
            <div class="pane-title">Past Experience</div>
          </div>
        </div>
        <div class="next">Next</div>
        <div class="prev">Prev</div>
      </div>

      <div id="information">
        <div>
          this is an information div
        </div>
      </div>

    </div>
