
    <div id="cover_photo">
      <img id="photo" src="<%=@student.inspect%>" />
    </div>

    <div id="quote">

      <div> <%=@student.inspect%></div>
    </div>

    <div id="wrapper">

      <div id="contact">

      </div>

      <div class="axis">
        <div class="carousel">
          <div class="item a">
            <div class="pane-title">Video Intro</div>
          </div>
          <div class="item b">
            <div class="pane-title">Profile</div>

          </div>
          <div class="item c">
            <div class="pane-title">Project 1</div>

          </div>
          <div class="item d">
            <div class="pane-title">Project 2</div>

          </div>
          <div class="item e">
            <div class="pane-title">Project 3</div>

          </div>
          <div class="item f">
            <div class="pane-title">Past Experience</div>
          </div>
        </div>
        <div class="next">Next</div>
        <div class="prev">Prev</div>
      </div>

      <div id="information">
        <div>
          this is an information div
        </div>
      </div>

    </div>
