<div class="col-md-3">
  <h3 id="titleHeader">Admin Dashboard</h3>
  <div class="card">
    <div class="card-header">
      Manage Students' Profiles
    </div>
    <div class="card-block">
      <ul class="nav nav-pills nav-stacked container-fluid">
        <li class="nav-item pink">
          <a class="nav-link" href="/courses">Courses</a>
        </li>
        <li class="nav-item pink">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item pink">
          <a class="nav-link" href="/languages">Languages</a>
        </li>
        <li class="nav-item pink">
          <a class="nav-link" href="/projects/all">Students' Projects</a>
        </li>
        <li class="nav-item pink">
          <a class="nav-link" href="/students/all">Students' Profiles</a>
        </li>
        <li class="nav-item pink">
          <a class="nav-link" href="/works/all">Students' Past Experience</a>
        </li>
      </ul>
    </div>
  </div>
</div>
