<footer id="mainFooter">
  <nav id="footer" class="navbar">
    <div class="container text-xs-center">
      <ul class="nav nav-inline">
        <li class="nav-item">
          Active © 2016 General Assembly. All Rights Reserved.
        </li>
        <li class="nav-item">
          <a class="anchor" href="https://generalassemb.ly/regulatory-information">Regulatory Information</a>
        </li>
        <li class="nav-item">
          <a class="anchor" href="https://generalassemb.ly/terms_and_conditions">Terms</a>
        </li>
        <li class="nav-item">
          <a class="anchor" href="https://generalassemb.ly/privacy_policy">Privacy</a>
        </li>
        <li class="nav-item">
          <a class="anchor" href="http://nytm.org/made-in-nyc">Assembled in NYC</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
