<a href="/">Home</a>
<a href="/courses">Courses</a>
<a href="/languages">Languages</a>
<a href="/projects">Projects</a>

<% if @current_student %>
  <%= link_to 'Logout', logout_url, method: :delete, data: {confirm: 'Are you sure?'}%>
<% else%>
  <a href="/login">Login</a>
  <a href="/students/new">Sign Up</a>
<%end%>
