/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
//= require_tree .
 */
 @import "bootstrap";
 @import "compass/css3";

a {
  color: black;
  &:hover {
    color:black;
  }
}

th {
  vertical-align: text-top;
}

.selectForm {
  width: 67%;
}

#student_description {
  height: 200px;
}

.pinkColour {
  background-color: #ff5f5f;
  color: white;
}

.tableHeaderWidth {
  width: 200px;
}

.editButton {
  margin: 10px 40%;
  width: 100px;
  display: inline-block;
}

.createNew {
  width: 300px;
}


.button_to {
  width: 100px;
  display: inline-block;
  margin-right: 10px;
}

#titleHeader {
  margin-bottom: 20px;
}
.smallText {
  float: right;
  font-size: 10px;
  margin-right: 7%;
}

.card-header {
  width: 100%;
  background-color: #ff5f5f;
  color: white;
}


.pink {
  color: black;
  // background-color: #f6201d;
  &:hover {
    // background-color: #ff5f5f;
    // color: white;
    box-shadow: 0 3px 0 0 #ff5f5f;
    // box-shadow: 0 3px 0 0 #a20101;
  }
}

 body {
  /*background: #333;*/
  padding: 70px 0;
  // font: 15px/20px Arial, sans-serif;
  font-family: "Circular", Helvetica, sans-serif;

  margin: 0px;
}


.navbar-brand {
  padding: 15px 0 0 15px;
}


/////////////// ROTATING PANES CSS START
.axis {
  /*margin: 0 auto;*/
  margin-bottom: 15%;
  margin-left: 30%;
  width: 150px;
  height: 100px;
  position: relative;
  perspective: 1000px;
  /*border: 1px solid black;*/
  display: inline-block;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  /* this determines the speed of the rotation */
  transition: transform 1s;
  /*display: inline;*/
}

.item {
  display: block;
  position: absolute;
  /* this background is the backgound of the pane */
  background: white;
  width: 150px;
  height: 80px;
  /* line-height to be the same as height*/
  line-height: 100px;
  font-size: 5em;
  text-align: center;
  /*color: #FFF;*/
  /*opacity: 0.95;*/
  border-radius: 10px;
  border: 1px solid black;
  color: black;
}

.a {
  transform: rotateY(0deg) translateZ(150px);
  /*background: #ed1c24;*/
}
.b {
  transform: rotateY(60deg) translateZ(150px);
  /*background: #0072bc;*/
}
.c {
  transform: rotateY(120deg) translateZ(150px);
  /*background: #39b54a;*/
}
.d {
  transform: rotateY(180deg) translateZ(150px);
  /*background: #f26522;*/
}
.e {
  transform: rotateY(240deg) translateZ(150px);
  /*background: #630460;*/
}
.f {
  transform: rotateY(300deg) translateZ(150px);
  /*background: #8c6239;*/
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  /*background: #CCC;*/
  border-radius: 5px;
  border-top: 1px solid #FFF;
  /*box-shadow: 0 5px 0 #999;*/
  transition: box-shadow 0.1s, top 0.1s;
  width: 10px;
  height: 10px;
}

/*.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}*/

.next {
  left: 17em;
  margin-top: -65px;
}

.prev {
  right: 17em;
  margin-top: -65px;
}

/////////////// ROTATING PANES CSS END


/*.images {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}*/

#cover_photo {
  width: 100%;
  height: 300px;;
  /*border: 1px solid black;*/
  margin-top: -30px;
  background-color: black;
  /*z-index: -1;*/
}

#photo {
  width: 100%;
  height: 100%;
  /*z-index: -1;*/
}

h2 {
  color: white;
  text-align: center;
}

#contact {
  height: 250px;
  width: 150px;
  margin-left: 15%;
  margin-top: 5%;
  border: 1px solid red;
  display: inline-block;
}

.pane-title {
  font-size: 20px;
  width: 100%;
  height: 100%;
  line-height: 80px;
}

#quote {
  /*border: 1px solid black;*/
  width: 50%;
  margin-left: 40%;
  margin-top: -5%;
  text-align: center;
  color: white;
  /*background-color: rgba(0,0,0,0.7);*/
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  padding: 20px;
}

#wrapper {
  margin: 0 auto;
  /*border: 1px solid black;*/
  width: 90%;
  height: 600px;
}

#information {
  border: 1px solid black;
  /*display: inline-block;*/
  width: 45%;
  height: 50%;
  margin-left: 45%;
  margin-top: -10%;
  /*margin-bottom: -40%;*/
}

#date {
  margin: 0 auto;
  text-align: center;
}

#box {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}

#left {
  border: 1px solid red;
  width: 30%;
  display: inline-block;
  margin-left: 2%;
}

#right {
  border: 1px solid blue;
  width: 60%;
  display: inline-block;
  margin-left: 2%;

}

.card {
  width: 90%;
  // border: 1px solid grey;
}

.card-profile-name {
  color: black;
  text-align: left;
}

.card-profile-skill-tag {
  display: inline;
  border: 1px solid green;
  background: green;
  color: white;
  padding: 2px;
  // text-decoration: none;
}



h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}



// *= require_self
// @import "bootstrap-sprockets";


#login-button {
  $color: #47A2F8;
  margin-right: 20px;
  margin-top: 2px;
  outline:none;

  @mixin font-color {
    @if lightness($color) > 50 {
      color: white;
      // text-shadow: 0 0.1em 0 rgba(white,0.5);
  	} @else {
  		color: black;
      // text-shadow: 0 -0.08em 0 darken($color, 20%);
		}
  }

  font-size: 11px;
  font-weight: 800;
  font-family: "Circular", Helvetica, sans-serif;
  border-bottom-color: #1467f1;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  @include font-color;
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0.8em 1.5em 0.8em;
  @include border-radius(14px);
  border: 1px solid;
  border-color: darken($color, 20%) darken($color, 30%) darken($color, 40%);
  background-color: $color;
  @include background-image(linear-gradient($color, darken($color, 10%)));
  @include box-shadow(0 0.1em 0.5em rgba(black,0.10), 0 0.1em 0.2em rgba(black,0.3), 0 -0.1em 0.07em rgba(black,0.3) inset, 0 0.1em 0.07em rgba(white,0.2) inset);
  @include transition(all 100ms);

  &:hover {
    @include box-shadow(0 0.1em 0.5em rgba(black,0.4), 0 0.1em 0.2em rgba(black,0.4), 0 -0.1em 0.07em rgba(black,0.3) inset, 0 0.1em 0.07em rgba(white,0.2) inset);
  }

  &:active {
    outline:none;
    padding: 0.8em 1.5em 0.8em;
    margin-top: 0.1em;
    border-color: darken($color, 30%) darken($color, 20%) $color;
    @include background-image(linear-gradient(darken($color, 5%), $color));
    @include box-shadow(0 0.1em 0.2em rgba(black,0.1) inset, 0 0.1em 0.1em rgba(black,0.2) inset, 0.05em 0 0.07em rgba(black,0.2) inset, -0.05em 0 0.07em rgba(black,0.2) inset);
    @include transition(all 10ms);
  }
}

// profile pic avatar START

#upload-image{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

div#img-frame {
  text-align: center;
}

input[type=file]{
    color:transparent;
}

input#student_profile_pic_url {
    margin-left: 40%;
}

#current-image{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
}

// profile pic avatar END
