/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
//= require_tree .
 */
 @import "bootstrap";
 @import "compass/css3";
 @font-face {
   font-family: Kostic;
   font-weight: bold;
   src: url('Kostic-Serif-W00-Bold.ttf')

 };

a {
  color: black;
  &:hover {
    color:black;
  }
}

th {
  vertical-align: text-top;
}

.selectForm {
  width: 67%;
}

#student_description {
  height: 200px;
}

.pinkColour {
  background-color: #ff5f5f;
  color: white;
}

.tagSpacing {
  margin-right: 10px;
}

#requestSelect {
  text-align: center;
  padding: 10px;
}

.tableHeaderWidth {
  width: 200px;
}

.editButton {
  margin: 10px 40%;
  width: 100px;
  display: inline-block;
}

.createNew {
  width: 300px;
}


.button_to {
  width: 100px;
  display: inline-block;
  margin-right: 10px;
}

#titleHeader {
  margin-bottom: 20px;
}
.smallText {
  float: right;
  font-size: 10px;
  margin-right: 7%;
}

.buttonTags {
  border: 1px solid #ff5f5f ;
  background-color: white;
}

.card-header {
  width: 100%;
  background-color: #ff5f5f;
  color: white;
}


.pink {
  color: black;
  // background-color: #f6201d;
  &:hover {
    // background-color: #ff5f5f;
    // color: white;
    box-shadow: 0 3px 0 0 #ff5f5f;
    // box-shadow: 0 3px 0 0 #a20101;
  }
}

 body {
  /*background: #333;*/
  padding: 67px 0;
  // font: 15px/20px Arial, sans-serif;
  font-family: "Circular", Helvetica, sans-serif;

  margin: 0px;
}

#GAprofile {
  padding: 10px 0 0 3px;
  color: white;
  font-family: Kostic;
  font-weight: 800;

}


/////////////// ROTATING PANES CSS START
.axis {
  /*margin: 0 auto;*/
  margin-bottom: 15%;
  margin-left: 30%;
  width: 150px;
  height: 100px;
  position: relative;
  perspective: 1000px;
  /*border: 1px solid black;*/
  display: inline-block;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  /* this determines the speed of the rotation */
  transition: transform 1s;
  /*display: inline;*/
}

.item {
  display: block;
  position: absolute;
  /* this background is the backgound of the pane */
  background: white;
  width: 150px;
  height: 80px;
  /* line-height to be the same as height*/
  line-height: 100px;
  font-size: 5em;
  text-align: center;
  /*color: #FFF;*/
  /*opacity: 0.95;*/
  border-radius: 10px;
  border: 1px solid black;
  color: black;
}

.a {
  transform: rotateY(0deg) translateZ(150px);
  /*background: #ed1c24;*/
}
.b {
  transform: rotateY(60deg) translateZ(150px);
  /*background: #0072bc;*/
}
.c {
  transform: rotateY(120deg) translateZ(150px);
  /*background: #39b54a;*/
}
.d {
  transform: rotateY(180deg) translateZ(150px);
  /*background: #f26522;*/
}
.e {
  transform: rotateY(240deg) translateZ(150px);
  /*background: #630460;*/
}
.f {
  transform: rotateY(300deg) translateZ(150px);
  /*background: #8c6239;*/
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  /*background: #CCC;*/
  border-radius: 5px;
  border-top: 1px solid #FFF;
  /*box-shadow: 0 5px 0 #999;*/
  transition: box-shadow 0.1s, top 0.1s;
  width: 10px;
  height: 10px;
}

/*.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}*/

.next {
  left: 17em;
  margin-top: -65px;
}

.prev {
  right: 17em;
  margin-top: -65px;
}

/////////////// ROTATING PANES CSS END


/*.images {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}*/

#cover_photo {
  width: 100%;
  height: 300px;;
  /*border: 1px solid black;*/
  margin-top: -30px;
  background-color: black;
  /*z-index: -1;*/
}

#photo {
  width: 100%;
  height: 100%;
  /*z-index: -1;*/
}

h2 {
  color: white;
  text-align: center;
}

#contact {
  height: 250px;
  width: 150px;
  margin-left: 15%;
  margin-top: 5%;
  border: 1px solid red;
  display: inline-block;
}

.pane-title {
  font-size: 20px;
  width: 100%;
  height: 100%;
  line-height: 80px;
}

#quote {
  /*border: 1px solid black;*/
  width: 50%;
  margin-left: 40%;
  margin-top: -5%;
  text-align: center;
  color: white;
  /*background-color: rgba(0,0,0,0.7);*/
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  padding: 20px;
}

#wrapper {
  margin: 0 auto;
  /*border: 1px solid black;*/
  width: 90%;
  height: 600px;
}

#information {
  border: 1px solid black;
  /*display: inline-block;*/
  width: 45%;
  height: 50%;
  margin-left: 45%;
  margin-top: -10%;
  /*margin-bottom: -40%;*/
}

#date {
  margin: 10px auto;
  text-align: center;
  border: #ff5f5f solid 1px;
  border-radius: 5px;
}

#selectMeetGreet {
  padding: 10px;
}

#submitBtnSession {
  margin-left: 20px;
}

.navbar-brand {
  padding: 15px 0 0 15px;
}

.selectNavDropDown {
  margin-left: 5%;
}

.tempPinkBorder {
  border: #ff5f5f solid 1px;
  border-radius: 5px;
  height: 500px;
}

.meetGreetDetails {
  margin: 20px 0;
  // background-color: orange;
}

#box {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}

#left {
  border: 1px solid red;
  width: 30%;
  display: inline-block;
  margin-left: 2%;
}

#right {
  border: 1px solid blue;
  width: 60%;
  display: inline-block;
  margin-left: 2%;

}

.card-profile-name {
  color: black;
  text-align: left;
}

.card-profile-skill-tag {
  display: inline;
  border: 1px solid green;
  background: green;
  color: white;
  padding: 2px;
}

#logo {
  display:inline ;
  float: left;
  height: 40px;
  // margin-top: 14px;
}

#login-button {
  // background-color: #ff5f5f;
  // border-radius: 3px;
  // border: #ff5f5f 1px solid;
  // // font-family: "Circular", Helvetica, sans-serif;
  // font-weight: 800;
  // font-size: 0.8rem;
  // // line-height: 1.35;
  // min-width: 10.5rem;
  // padding: 0.5rem 0;
  // margin-top: 1%;
  margin-left: 20px;
  color: white;
  &:hover {
    // border: #ff5f5f 1px solid ;
    // background-color: #F6201D;
    background-color: #383838;
  }
}

// profile pic avatar START

#upload-image{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

div#img-frame {
  text-align: center;
}

input[type=file]{
    color:transparent;
}

input#student_profile_pic_url {
    margin-left: 40%;
}

#current-image{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
}

// profile pic avatar END
