/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
//= require_tree .
 */
 @import "bootstrap";
 @import "compass/css3";
 @font-face {
  //  font-family: Kostic;
   font-weight: bold;
   src: url('Kostic-Serif-W00-Bold.ttf')

 };

 @font-face {
   font-family: Built-titling;
   src: url('built-titling-bd.ttf')

 };

 @font-face {
   font-family: Laqonic-Black;
   src: url('Laqonic-4F-Unicase-Bold.otf')

 };

 body {
  font-family: "Circular", Helvetica, sans-serif;
  background-color: #f6f6f6;
}

a {
  color: black;
  &:visited {
    text-decoration: none;
  }
}

th {
  vertical-align: text-top;
}

// .topMarginBuffer {
//   margin-top: 5%;
// }

.whiteSpace {
  height: 54px;
}

.selectForm {
  width: 67%;
}

#student_description {
  height: 200px;
}

.profileIcon {
  height: 18px;
  padding: 10px 5px;
  width: inherit;
  color: black;
  &:hover {
    text-decoration: none;
    color: orange;
  }
  &:hover:visited {
    text-decoration: none;
    // color:black;
  }
}


.pinkColour {
  background-color: #ff5f5f;
  color: white;
}

.blueColour {
  background-color: #47a2f8;
  color: white;
}

.tagSpacing {
  margin-right: 10px;
}

.tableHeaderWidth {
  width: 200px;
}

.editButton {
  margin: 10px 40%;
  width: 100px;
  display: inline-block;
}

.createNew {
  width: 300px;
}

.editButtonSpecial {
  margin: 0;
  margin-left: 10px;
}

.containerSpecial {
  text-align: center;
  margin-top: 15px;
}


.buttonBox {
  text-align: center;
  margin-top: 10px;
}

.button_to {
  width: 100px;
  display: inline-block;
  margin-right: 10px;
}

#titleHeader {
  margin-bottom: 20px;
}
.smallText {
  float: right;
  font-size: 10px;
  margin-right: 7%;
}

.buttonTags {
  border: 1px solid #ff5f5f ;
  background-color: white;
}

.card-header {
  width: 100%;
  background-color: #ff5f5f;
  color: white;
}


.pink {
  color: black;
  // background-color: #f6201d;
  &:hover {
    // background-color: #ff5f5f;
    // color: white;
    box-shadow: 0 3px 0 0 #ff5f5f;
    // box-shadow: 0 3px 0 0 #a20101;
  }
}

#GAprofile {
  padding: 0px 0 0 1px;
  color: white;
  font-family: Laqonic-Black;
  font-weight: 800;
  font-size: 28px;
  margin-top: 8px;
  margin-right: 26px;

}

#login, #signup {
  font-family: Georgia;
  color: white;
  font-size: 14px;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px;

}

#login:hover {
  background-color: #383838;
}

#signup:hover {
  background-color: #383838;
}

// PROFILE START

.bigFatName {
  padding: 10px;
  border-bottom: 3px solid #383838;
  width: 300px;
}

#endQuote {
  text-align: right;
  margin-right: 5%;
}

#quote {
  width: 40%;
  height: 150px;
  border-radius: 5px;
  float: right;
  margin-right: 5%;
  margin-top: -75px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  vertical-align: middle;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  padding: 20px;
}

#cover_photo {
  width: 100%;
  margin-top: -30px;
  background-color: black;
}

#photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#informationBox {
  position: relative;
  // border: 1px solid orange;
  // border-bottom: 1px solid orange;
}

.projectGif {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
  background-image: url("/assets/public/blank.jpg");
  background-size: contain;
}

#workDates {
  text-align: right;
}

.toggleInfo {
  position: absolute;
  top: 0;
  left: 0;
  // border: 1px orange solid;
  width: inherit;
}

#infoProfile {
}

#infoVideo {
  visibility: hidden;
}

#infoProjects {
  visibility: hidden;
}

#infoExperiences {
  visibility: hidden;
}

.alignMiddle {
  text-align: center;
  margin-bottom: 40px;
}

/////////////// ROTATING PANES CSS START
.axis {
  /*margin: 0 auto;*/
  margin-bottom: 30px;
  margin-left: 170px;
  width: 150px;
  height: 80px;
  position: relative;
  perspective: 1000px;
  display: inline-block;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: white;
  width: 150px;
  height: 80px;
  font-size: 5em;
  text-align: center;
  border-radius: 10px;
  // border: 1px solid black;
  color: black;
}

.a {
  transform: rotateY(0deg) translateZ(105px);
  background-color: #ff5f5f;
  color: white;
}
.b {
  transform: rotateY(90deg) translateZ(105px);
  background-color: #fbd334;
  color: black;
}
.c {
  transform: rotateY(180deg) translateZ(105px);
  background-color: #358df2;
  color: white;
}
.d {
  transform: rotateY(270deg) translateZ(105px);
}

#next, #prev {
  color: #444;
  position: absolute;
  cursor: pointer;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  transition: box-shadow 0.1s, top 0.1s;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.arrows {
  height: 80px;
}

#next {
  margin-left: 120px;
}

/////////////// ROTATING PANES CSS END

.pane-title {
  font-size: 20px;
  width: 100%;
  height: 100%;
  line-height: 80px;
}

#profileFill {
  clear: both;
}

#wrapper {
  margin: 0 auto;
  width: 90%;
  height: 600px;
}


// BROWSING PAGE
#date {
  // margin: 10px auto;
  padding: 50px;
  text-align: center;
  background-color: #e4f1fe;
}

#selectMeetGreet {
  padding: 10px;
  // margin-top: 30px;
}

#submitBtnSession {
  margin-left: 20px;
}

#requestSelect {
  text-align: center;
}

#classesInfo {
  margin-top: 30px;
  margin-bottom: 100px;
}

#sessionDetails {
  height: inherit;
  padding-top: 5%
}

#studentDetails {
  padding-top: 5%;
  // background-color: #e4f1fe;
}

.astheticLine {
  width: 100%;
  border-bottom: 2px solid grey;
  padding-bottom: 3px;
}

.courseLinks  {
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}

.alignCenter {
  text-align: center;
}

.cardShadow {
  &:hover {
    box-shadow: 10px 10px 5px #888888;
  }
  &:visited {
    text-decoration: none;
  }
}

.cardImage {
  margin-top: 5px;
  margin: 10px auto;
  width: inherit;
  object-fit: cover;
}

.browseImage {
  height: 80px;
  width: 80px;
  object-fit: cover;
  object-position: center;
  margin-right: 20px;
}
// END BROWSING PAGE
// NAVIGATIONAL BAR
.gaLogo {
  height: 40px;
  color: white;
}

#GAname {
  font-size: 30px;
  font-family: Laqonic-Black;
  position: relative;
  top: 5.5px;
  left: 15px;
  &:hover {
    color: white;
  }
  &:visited {
    text-decoration: none;
    color: white;
  }
}

.navBarColor {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar {
  padding: 0px 0px 0px 0px;
}

.navbar-light .navbar-nav .nav-link {
  background-color: black;
  color: white;
  padding: 15px 20px;
  margin:0;

  &:hover {
    color: white;
    background-color: #383838;
  }
}

.userName {
  &:hover {
    background-color: black;
  }
}

// NAVBAR END

.tempPinkBorder {
  border: #ff5f5f solid 1px;
  border-radius: 5px;
  height: 500px;
}

.meetGreetDetails {
  margin: 20px 0;
  // background-color: orange;
}

#box {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}

#left {
  border: 1px solid red;
  width: 30%;
  display: inline-block;
  margin-left: 2%;
}

#right {
  border: 1px solid blue;
  width: 60%;
  display: inline-block;
  margin-left: 2%;

}

.card-profile-name {
  color: black;
  text-align: left;
}

.card-profile-skill-tag {
  display: inline;
  border: 1px solid green;
  background: green;
  color: white;
  padding: 2px;
}

#logo {
  display:inline ;
  float: left;
  margin-top: 17px;
  margin-left: 15px;
  height: 26px;
  width: 26px;
}

.login-button {
  margin-left: 20px;
  color: white;
  &:hover {
    background-color: #383838;
    color: white;
  }
}

.navbar-light .navbar-nav .nav-link {
  background-color: black;
  color: white;

  &:hover {
    color: white;
    background-color: #383838;
  }
}

// profile pic avatar START

#upload-image{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

div#img-frame {
  text-align: center;
}

input[type=file]{
    color:transparent;
}

input#student_profile_pic_url {
    margin-left: 42%;
    margin-top: 3%;
}



#current-image{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0 auto;
}

// profile pic avatar END

// typed.js START

.typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

// typed.js END

.gif {
  border-radius: 10px;
}
