// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.banner {
  // background-color: #ff5f5f;
  background-color: #f6f6f6;
  height: 400px;
  text-align: center;
  padding-top: 50px;
  font-family: Built-titling;
  font-size: 60px;
  // color: #ff5f5f;
  color: black;
  margin-top: -2px;
  position: relative;
}

#bannerImage {
  height: 200px;
  position: absolute;
  bottom: 10%;
  right: 5%;
}

#typed-strings {
  // background-color: #ff5f5f;
  height: 400px;
  text-align: center;
  padding-top: 50px;
  font-family: Built-titling;
  font-size: 60px;
  color: black;
  // color: #ff5f5f;
  // color: white;
}

#typed {
  font-family: Built-titling;
  font-size: 60px;
  font-weight: 900;
  // color: #ff5f5f;
  color: black;
}

#browse {
  height: 300px;
  background-color: white;;
}


#browse-button {
  background-color: #ff5f5f;
  border-radius: 3px;
  border: #ff5f5f 1px solid;
  font-weight: 800;
  font-size: 1.125rem;
  // line-height: 1.35;
  min-width: 13.5rem;
  padding: 1rem 0;
  margin-top: 10px;
  color: white;
  shadow: 0 3px 0 0 #a20101;
   &:hover {
    border: #ff5f5f 1px solid ;
    background-color: #F6201D;
  }
}

#progLang {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  // text-align: center;
  height: 200px;
  // width: inherit;
  // height: 50%;
}

#mgDetails {
  margin-top: 50px;
  text-align: center;
  font-family: Circular,Helvetica,Arial,sans-serif
  // margin-left: 100px;
}


.mdSpecifics {
  padding: 10px
}

#footer {
  background: #383838;
  color: white;
  padding: 2.25rem 0;
  // margin-top: 5%;
  // margin-bottom: 0;
}

#footer li {
  // line-height: 80px;
  font-size: 13px;
}

.anchor {
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
    &:visited {
      color: white;
    }
}
