// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.loginForm {
    height: 50%;
    width: 50%;
}

#submit-button {
  height: 40%;
  width: 40%;
}

.loginButton {
  text-align: center;
  margin: 0 auto;
}

#logoSize {
  object-fit: contain;
  height: 200px;
  width: 200px;
  margin: 50px auto;
}

#student_email {
  margin: 0 auto;
}

#student_password {
  margin: 0 auto;
}

#login-right-pic {
    max-width: 100%;
    height: 200px;
    width: 200px;
    float: right;
    display: inline;
}

#login-right {
    position: fixed;
    right: 100px;
    bottom: 100px;
}
