<!DOCTYPE html>
<html>
  <head>
    
    <title>GaProfileRevamp</title>
    
  </head>

  <body>

    <%= render "partials/navbar" %>
    <%= render "partials/flash" %>

    <% if @current_user %>
    <h1>LOGGED IN!</h1>
    <%end%>

    <%= yield %>

  </body>
</html>
 
